*{
  background-color: aqua;
}
.Bus1{
  display: inline-block;
  padding: 10px;
}

.Bus2{
  display: inline-block;
  padding: 10px;
}

.Bus3{
  display: inline-block;
  padding: 10px;

.Bus4{
  display: inline-block;
  padding: 10px;
}

.main-div{
  width: auto;
  height: 100px;
}

.text1{
  text-align: center;
  width: 100px;
  height: 100px;
}